* {
  margin: 0;
  padding: 0;
}

body {
  background: coral;
  font-size: 14px;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background-color: white;
  display: flexbox;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: crimson;
}

h1 {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.container p {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  padding-bottom: 5px;
  outline: none;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: crimson;
}

button {
  background: white;
  width: 100px;
  border: none;
  outline: none;
  color: crimson;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px;
}

.contact-left h2 {
  color: crimson;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-left h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  padding-top: 20px;
}

h2 {
  font-family: sans-serif;
}
